# IDEA Intellij
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**

target/**
**/**.iml
botcovidlabAdminAccess.json

# Twitter bot
**/twitter/settings.json

#Log4j

**/logs